services:
  db:
    image: postgres:16
    container_name: portal_transparencia_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  #  PGAdmin for easier database management via browser
  pgadmin:
    image: dpage/pgadmin4
    container_name: portal_transparencia_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@umbrel.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

  etl:
    build: .
    container_name: portal_transparencia_etl
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
    command: tail -f /dev/null # Keep alive for manual execution

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portal_transparencia_portainer
    restart: always
    ports:
      - "9001:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
  portainer_data:
